* {
    /* Reset pour retirer les marges que le moteur de recherche propose*/
    box-sizing: border-box;
    border: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    /* Pour que le retour vers le haut de page soit fluide */
}

/* ______________________________ SECTIONS ________________________________*/

#section {
    min-height: 200px;
    padding: 20px;
}

#edito {
    background-color: #540b0e;
}

#profil {
    background-color: #335c67;
    text-align: center;
}

#video {
    display: block;
    margin: auto;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff3b0;
    background-color: transparent;
}

/* ___________________________ BARRE DE NAVIGATION ____________________________*/
a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background-color: #540b0e;
}

.logo {
    font-size: 1.8rem;
    color: #e09f3e;
    padding-left: 20px;
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: white;
}

.nav_link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: #9e2a2b;
}

.nav_link a {
    display: block;
    text-align: center;
    padding: 10px 0;
    color: #e09f3e;
}

.nav_link a:hover {
    background-color: #9e2a2b;
    color: #e09f3e;
}

.hide {
    display: none;
}


/* ______________________________ CAROUSSEL  ________________________________*/

.Slider {
    height: 60vh;
    position: relative;
    border: 15px solid white;
}

.Slider img {
    /* Superposer les images les unes sur les autres */
    object-fit: cover;
    /*Les images couvres la section*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.Slider img.active {
    opacity: 1;
}

.suivant,
.precedent {
    color: black;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    font-size: 50px;
    right: 1rem;
}

.precedent {
    font-size: 50px;
    left: 1rem;
}

/* _____________________________ LES PRODUITS ________________________________*/
#produits {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1620px;
    margin: auto;
    background-color: #335c67;
}

.flip-box {
    background-color: transparent;
    object-fit: cover;
    width: 30%;
    min-height: 300px;
    perspective: 1000px;
    /* Pour l'effet 3D */
    margin: 16px;
}

.flip-box .images {
    width: 150px;
    height: 150px;
}

.flip-box-inner {
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    /* flip horizontal lorsqu'on quand passe la souris dessus */
    transform: rotateY(180deg);
}


.flip-box-front,
.flip-box-back {
    /* Positionnement des faces*/
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 33% 0;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-box-front {
    /* Recto */
    background-color: #9e2a2b;
    color: black;
}

.flip-box-back {
    /* Verso */
    background-color: #9e2a2b;
    color: #e09f3e;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands {
    color: #fff3b0;
    margin: 25px;
}

/*________________________ FORMULAIRE DE CONTACT ___________________________*/

#contact {
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: #9e2a2b;
}

.fond {
    width: 80%;
    display: inline-block;
    margin: 2%;
    margin-left: 10%;
    text-align: center;
    background-color: #335c67;
    color: rgb(255, 255, 255);
    /* COULEUR DU TEXTE */
    border: 10px solid #fff3b0;
    border-radius: 15px;
    margin-bottom: 4%;
    margin-top: 4%;
}

.fond h3 {
    font-size: 2rem;
    display: block;
    margin: 2%;
    margin-bottom: 0;
}

.lt {
    padding: 2%;
    margin: 2%;
}

.lt textarea {
    width: 90%;
    margin-left: 5%;
}

button {
    margin: 2%;
    padding: 15px 30px;
    text-align: center;
    background-color: #e09f3e;
    border: 1px solid white;
    border-radius: 15%;
}


/*________________________ FOOTER ___________________________*/

footer {
    padding: 50px 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #540b0e;
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: bold;
}

/*________________________ RETOUR HAUT DE PAGE ___________________________*/

#scrollUp {
    position: fixed;
    bottom: 10px;
    right: -100px;
    opacity: 0.8;
}

/*________________________ ANIMATION ICONES FOOTER ___________________________*/

.fa-brands:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

/* ___________________________ MEDIA QUERIES ______________________________*/

/* Permettent de changer modifier l'apparence d'un site en fonction du type d'appareil
-> pour réaliser la partie responsive */

@media screen and (max-width: 768px) {
    .flip-box {
        width: 94%;
        justify-content: center;
    }

    .fa-brands {
        font-size: 3em;
    }

    #arrow-up {
        left: 85%;
        bottom: 15px;
    }

    td {
        display: block;
        width: 96%;
    }

    .Slider {
        display: none;
    }
}

@media screen and (min-width: 540px) and (max-width: 768px) {
    .flip-box {
        width: 468px;
        margin: 20px auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .flip-box {
        width: 45%;
    }
}

@media screen and (min-width: 795px) {
    .nav_link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav_link a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}